


.mystyle {
    background-color: aquamarine;
    font-size: 30px;
}

.style {
    background-color: burlywood;
    color: darkblue;
}

.my-new-style {
    background-color: darkgoldenrod;
    font-size: 40px;
}